.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
    position: relative;

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lang {
        margin-left: 20px;
    }

    .collapseBtn {
        position: absolute;
        right: -32px;
        bottom: 32px;
        z-index: 10;
    }

    .items {
        margin-top: 20px;
        margin-left: 30px;
    }
}

.SidebarRedesigned {
    position: relative;
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;

    .appLogo {
        padding-top: 24px;
    }

    .items {
        margin-top: 45px;
    }

    .collapseBtn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        transform: rotate(90deg)
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        gap: 16px;
    }
}



.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        justify-items: center;
    }

    .lang {
        margin: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg)
    }
}

.collapsedRedesigned {
    width: 50px;

    .items {
        display: flex;
        align-items: center;
    }

    .switchers {
        flex-direction: column;
        justify-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}


