.ArticleViewSelector {
    margin-bottom: 10px;

    .icon {
        margin-right: 8px;
    }

    .notSelected {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {
    .notSelected {
        color: var(--light-bg-redesigned);
    }
}


