.app_dark_theme {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #096e09;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #265ee2;

    // skeleton colors
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #0e0ede;
}
